@import "../../_variables.scss";

.sider {
  z-index: 1000;
  background: $base-color;
  height: 100vh;
  position: relative;
}

.logo {
  height: 70px;
  padding: 10px 10px;
  text-align: center;
  overflow: hidden;
  background: #fff;
  margin: 20px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;

  position: absolute;
  right: -44px;
  top: 15px;

  &:hover {
    color: #1890ff;
  }
}

.menuItem {
  color: #fff;
}

.menuSubItem {
  color: #00718b;
}

.baseLogo {
  width: 120px;
}

.collapsedBaseLogo {
  width: 100%;
  padding: 0;
}

.icon {
  width: 16px;
  margin-right: 8px;
}
