.container {
  padding: 20px;
  margin: 20px;
  background: #f2f4f5;
  border: 1px solid #f0f0f0;
}

.actions {
  flex-grow: 1;
  display: flex;
  margin-top: 10px;

  > :first-child {
    text-align: left;
    flex-grow: 3;
  }
}

.disButton {
  margin-right: 10px;
}

.required {
  > :first-child > :first-child {
    border-color: #f5222d;
  }
}

.requiredIcon {
  color: #f5222d !important;
}
